.button {
  display: flex;
  width: 135px;
  height: 52px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-style: none;
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 32px;
  opacity: 0.5;
  background: #000;
  cursor: pointer;
}

.container {
  display: flex;
  min-width: 1084px;
  width: 93%;
  max-width: 1325px;
  min-height: 500px;
  height: 100%;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;
  border-radius: 32px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 6%;
}

.line {
  width: 200px;
  height: 2px;
  background-color: rgba(102, 102, 102, 0.25);
}

.sort_container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sort__select {
  display: flex;
  gap: 15px;
  height: 25px;
  justify-content: center;
}

.sort__select select {
  width: 200px;
  padding: 5px;
  border-radius: 4px;
}

.sort__select select option {
  padding: 5px;
}

.form {
  display: flex;
  height: 87px;
  width: 100%;
  max-width: 1130px;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  gap: 24px;
}

.form > label {
  width: 100%;
}
.form__input,
.form__input_date {
  height: 54px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #545454;
  background: none;
  padding: 0 15px;
  color: #474747;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__input_date {
  width: 104px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255) inset !important;
}

.form__label {
  width: 100%;
  display: flex;
  min-width: 180px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.form__label:first-child {
  max-width: 182px;
}

.form__label:nth-child(2) {
  min-width: 430px;
}
.form__label:nth-child(3) {
  max-width: 270px;
}

.form__label_deadline {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.text {
  color: black;
}

.wrapper {
  width: calc(100% - 20%);
  padding: 0 10%;
}
