.button {
  display: flex;
  width: 135px;
  height: 52px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-style: none;
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 32px;
  opacity: 0.8;
  background: #000;
  cursor: pointer;
}

.header {
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 20%);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0 10%;
}
