.button {
  display: flex;
  width: 135px;
  height: 52px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-style: none;
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 32px;
  opacity: 0.8;
  background: #000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 10%;
}

.header__select {
  display: flex;
  gap: 15px;
  height: 25px;
  justify-content: center;
}

.header__select select {
  width: 200px;
  padding: 5px;
  border-radius: 4px;
}

.header__select select option {
  padding: 5px;
}
